[Desktop Entry]
Type=Application
Exec=bash -c 'alacritty msg --socket "$XDG_RUNTIME_DIR/alacritty.sock" create-window || alacritty --socket "$XDG_RUNTIME_DIR/alacritty.sock"'
Icon=/home/nchiang/.local/share/applications/icons/Alacritty.svg
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupNotify=true
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=alacritty
