[Desktop Entry]
Name=ChatGPT
Comment=ChatGPT
Exec=chromium --new-window --ozone-platform=wayland --app="https://chatgpt.com/" --name="ChatGPT" --class="ChatGPT"
Terminal=false
Type=Application
Icon=/home/nchiang/.local/share/applications/icons/ChatGPT.png
StartupNotify=true
