[Desktop Entry]
Type=Application
Name=Cider
StartupWMClass=Cider
Comment=A cross-platform Apple Music experience built on Vue.js and written from the ground up with performance in mind.
GenericName=Music Player
Exec=/home/nchiang/.local/share/cider/Cider %U
Icon=/home/nchiang/.local/share/cider/cider.png
Categories=Audio;AudioVideo;Music;
MimeType=x-scheme-handler/cider;x-scheme-handler/itms;x-scheme-handler/itmss;x-scheme-handler/music;x-scheme-handler/itunes;

Actions=PlayPause;Next;Previous;Stop

[Desktop Action PlayPause]
Name=Play-Pause
Name[de]=Abspielen-Pausieren
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.cider /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause

[Desktop Action Next]
Name=Next
Name[de]=Nächstes
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.cider /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next

[Desktop Action Previous]
Name=Previous
Name[de]=Vorheriges
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.cider /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous

[Desktop Action Stop]
Name=Stop
Name[de]=Stoppen
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.cider /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Stop
