[Desktop Entry]
Name=Cron
StartupWMClass=Cron
Comment=Cron Calendar is a free-to-use tool where you can view and manage your personal and work schedules in one place.
GenericName=Calendar
Icon=/home/nchiang/.local/share/chezmoi/dot_icons/cron.png
Exec=firefox --new-window --kiosk --profile /var/home/nchiang/.mozilla/firefox/eatp2ywu.calendar https://calendar.notion.so
Type=Application
