[Desktop Entry]
Name=GitHub
Comment=GitHub
Exec=chromium --new-window --ozone-platform=wayland --app="https://github.com/" --name="GitHub" --class="GitHub"
Terminal=false
Type=Application
Icon=/home/nchiang/.local/share/applications/icons/GitHub.png
StartupNotify=true
