[Desktop Entry]
Name=Google Contacts
Comment=Google Contacts
Exec=chromium --new-window --ozone-platform=wayland --app="https://contacts.google.com/" --name="Google Contacts" --class="Google Contacts"
Terminal=false
Type=Application
Icon=/home/nchiang/.local/share/applications/icons/Google Contacts.png
StartupNotify=true
