[Desktop Entry]
Name=Gospel Library
Comment=Gospel Library
Exec=flatpak run org.chromium.Chromium --new-window --ozone-platform=wayland --app="https://www.churchofjesuschrist.org/study" --name="Gospel Library" --class="Gospel Library"
GenericName=Scriptures
Terminal=false
Type=Application
Icon=/var/home/nchiang/.local/share/applications/icons/Gospel Library.png
StartupNotify=true
