[Desktop Entry]
Name=iCloud Notes
Comment=iCloud Notes
Exec=chromium --new-window --ozone-platform=wayland --app="https://www.icloud.com/notes" --name="iCloud Notes" --class="iCloud Notes"
Terminal=false
Type=Application
Icon=/home/nchiang/.local/share/applications/icons/iCloud Notes.png
StartupNotify=true
