[Desktop Entry]
Name=Linear
StartupWMClass=app.linear
Comment=Linear streamlines issues, projects, and roadmaps. Purpose-built for modern product development.
GenericName=Issue Tracker
Keywords=list;todo;issues;jira;project;roadmap
Icon=/home/nchiang/.local/share/applications/icons/Linear.png
Exec=chromium --new-window --ozone-platform=wayland --app="https://linear.app" --name="Linear" --class="Linear"
Type=Application
