[Desktop Entry]
Type=Application
Name=LocalSend
Comment=An open source cross-platform alternative to AirDrop
GenericName=AirDrop
Exec=localsend
Icon=localsend
Terminal=false
Categories=Utility;Network;
