[Desktop Entry]
Name=macOS Sonoma
Comment=macOS is a Unix operating system developed and marketed by Apple Inc. since 2001.
GenericName=Operating System
Icon=/home/nchiang/.local/share/applications/icons/macOS.png
Exec=quickemu --vm /home/nchiang/OSX-KVM/macos-sonoma.conf --width 2560 --height 1600
Type=Application
