[Desktop Entry]
Name=X
Comment=Twitter, officially known as X since 2023, is an American microblogging and social networking service.
GenericName=Twitter
Exec=flatpak run org.chromium.Chromium --new-window --ozone-platform=wayland --app="https://x.com/" --name="X" --class="X"
Terminal=false
Type=Application
Icon=/var/home/nchiang/.local/share/applications/icons/X.png
StartupNotify=true
